name: NeuroByte Automation

on:
  workflow_dispatch: # only runs when triggered manually or via API

jobs:
  neurobyte-job:
    runs-on: ubuntu-latest
    env:
      TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Run Upload Script
        run: node scripts/upload.js
